.form-control-admin {
    width: 30em !important;
}

#add-button {
    background-color:#438de2;
}

#add-button:hover {
    background-color:#2b39ff;
}

#add-button-div {
    padding-left: 40%;
    margin-top: -3em;
}