#footer {
    background-color: #83b5d494;
}

#footer-row {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0px;
}

.link {
    color: black;
    text-decoration: underline;
}

.maps-info {
    color: black;
}

#github-col {
    text-align: right;
}

#maps-col {
    text-align: center;
}

@media only screen and (max-width: 500px) {
    #github-col, #maps-col {
        margin-top: 2em;
        text-align: left;
    }
}