#navbar {
    background-color: #4FADE3 ; 
    font-size: 18px;
}

#login-text {
    margin-right: 1em;
}

.nav-brand {
    color: white;
    margin-right: 1.2em;
}

.nav-brand:hover {
    color:rgba(255, 255, 255, 0.904);
    text-decoration:none !important;
}