#rating {
    margin-top: -35px;
    flex-direction: 'row';
    justify-content: 'space-between';
}

#rating-text {
    font-size: 18px;
}

#stats-icon {
    margin-right: 10px;
    margin-bottom: 5px;
}

#distance-div {
    margin-bottom: -1.5em;
    margin-top: 1em;
}

#button-div {
    margin-top: -1em;
    margin-bottom: -1em;
    text-align: center;
}

#rating-value {
    font-size: 1.6em;
}