#ratings-title {
    font-size: 1.8em;
}

#message-text {
    margin-top: 2em;
    font-size: 1.1em;
}

#details-button-div {
    position: absolute;
    bottom: 1.5em;
    left: 50%;
    margin-left: -5.25em;
}