#title-column {
    text-align: center;
}

.container {
    margin-top: 50px;
}

.row {
    margin-bottom: 80px;
}

#third-row {
    margin-top: 100px;
}

.lifts-img {
    margin-right: 5px;
}

.button {
    background-color:#4FADE3;
}