#title-column {
    text-align: center;
}

.container {
    margin-top: 50px;
}

.row {
    margin-bottom: 80px;
}

#third-row {
    margin-top: 100px;
}

.lifts-img {
    margin-right: 5px;
}

.button {
    background-color:#438de2 !important;
}

.weather-icon {
    color: dodgerblue;
}

/* .rate-resort {
    padding-left: 80px;
} */

.map {
    width: 300px;
    height: 300px;
}

#actual-weather-title {
    padding-bottom: 2em;
}

#ratings-col, #info-col, #weather-col {
    font-size: large;
}

#website {
    color: black;
}
@media only screen and (min-width: 1200px) {
    #img-col {
        margin-left: 6.7em;
    }
}

@media only screen and (max-width: 550px) {
    #skiMap {
        width: 21em !important;
        height: 15em !important;
    }
}

@media only screen and (max-width: 550px) {
    #col-map {
        visibility: hidden;
    }
}

@media only screen and (max-width: 550px) {
    #title-column, .rate-resort, #img-col, #weather-col {
        margin-top: 2em;
    }
}
