#title-column {
    text-align: center;
}

.container {
    margin-top: 50px;
}

.row {
    margin-bottom: 80px;
}

#third-row {
    margin-top: 100px;
}

.lifts-img {
    margin-right: 5px;
}

.button {
    background-color:#4FADE3;
}

.weather-icon {
    color: dodgerblue;
}

/* .rate-resort {
    padding-left: 80px;
} */

.map {
    width: 300px;
    height: 300px;
}

#actual-weather-title {
    padding-bottom: 2em;
}